body {
  background-image: url(images/header-home.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.nav-link {
  color: whitesmoke;
}

.card {
  margin: 5px;
  border: 2px solid;
  border-color: gray;
}

.btn-primary {
  background-color: #ed522e;
  border-color: #ed522e;
}
